<table class="table table-striped">
  <thead>
  <tr>
    <th>When</th>
    <th>Location</th>
    <th>Phone number</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
  </tr>
  </thead>
  <tbody>
  <% @leads.each do |lead| %>
      <tr>
        <td><%= distance_of_time_in_words(Time.now - lead.created_at) %> ago</td>
        <td><%= lead.lead_source.name %></td>
        <td><%= lead.phone_number %></td>
        <td><%= lead.city %></td>
        <td><%= lead.state %></td>
        <td><%= lead.caller_zip %></td>
      </tr>
  <% end %>
  </tbody>
</table>
