<h1>G5 Call Analytics</h1>
<p>Real time call tracking and Analytics.</p>
<div class="row">
  <div class="col-md-5">
    <h2>Lead Sources</h2>
    <% if @lead_sources %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Incoming Number</th>
          <th>Forwarding Number</th>
        </tr>
      </thead>
      <tbody>
        <% @lead_sources.each do |lead_source| %>
        <tr>
          <td><%= lead_source.name %></td>
          <td><%= lead_source.incoming_number %></td>
          <td><%= lead_source.forwarding_number %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
      <p><b>Add a new number to populate this list</b></p>
    <% end %>
    <input id="btn-test-me" class='btn btn-default btn-xs' value="Test Me" />
  </div>
  <div class="col-md-7">
    <div class="row">
      <div class="col-md-6">
        <h3>Calls by lead source</h3>
        <canvas id="leads-by-source"></canvas>
      </div>
      <div class="col-md-6">
        <h3>Calls by city</h3>
        <canvas id="leads-by-city"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <h2>Calls</h2>
    <%= render "leads" %>
  </div>
</div>
<%= javascript_include_tag "call_tracking" %>
